
@{
    ViewBag.Title = "CreateComplaint";
}

<h2>CreateComplaint</h2>

<form >
   username :<input name="username" />
   complaint : <input name="complaint" />
    <button type="submit">submit</button>
</form>

